*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --unpicked-answer-color: rgb(221, 219, 219);
    --correct-answer-color: rgba(0, 255, 0, 0.507);
    --wrong-answer-color: rgba(255, 0, 0, 0.479);
}

body {
    background-color: rgb(97, 174, 197);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

button.answer {
    background-color: var(--unpicked-answer-color);
    
}
button.wrong {
    background-color: var(--wrong-answer-color);
}
button.correct {
    background-color: var(--correct-answer-color);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.controls {
    align-items: flex-end;
}

.btn{
    font-size: larger;
    font-weight: bold;
    background-color: var(--unpicked-answer-color);
    border: 2px solid rgb(70, 99, 116);
    border-radius: 5px;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    outline: none;
}

.btn:hover {
    border-color: rgb(2, 2, 2);
}

.btn.correct {
    background-color: var(--correct-answer-color);
}

.btn.wrong {
    background-color: var(--wrong-answer-color);
}

.controls { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn {
    font-size: large;
    font-weight: bold;
    padding: 10px 20px;
}

.next-btn {
    font-size: large;
    font-weight: bold;
    padding: 10px 20px;
}

.hide {
    display: none;
}
